{% extends "base_main.html" %}

{% block head %}
  <link href="/static/css/grid.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      {% if facets['tags'] %}<h4>Tags</h4>{% endif %}
      <ul class="nav nav-sidebar">
        {% for i, (tag, cnt) in enumerate(facets['tags']) %}
            {% if i <= 14 %}
                <li><a href="#" class="tags" value="{{ tag }}"><span class="badge">{{ cnt }}</span> {{ tag }}</a></li>
            {% endif %}
        {% endfor %}
        {% if len(facets['tags']) > 15 %}
            <li class="more"><a href="/bookmarks/tags{% if keyword %}?q={{ keyword }}{% endif %}"><strong>See More...</strong></a></li>
        {% endif %}
      </ul>
      {% if facets['hostname'] %}<h4>Sites</h4>{% endif %}
      <ul class="nav nav-sidebar">
        {% for i, (tag, cnt) in enumerate(facets['hostname']) %}
            {% if i <= 14 %}
              {% if len(tag) > 17 %}
                <li>
                  <a href="#">
                    <span class="badge">{{ cnt }}</span>
                    <span title="{{ tag }}" class="hostnames" data-toggle="tooltip" data-placement="bottom">{{ tag[0:7] }}...{{ tag[15:] }}</span>
                  </a>
                </li>
              {% else %}
                <li><a href="#"><span class="badge">{{ cnt }}</span> {{ tag }}</a></li>
              {% endif %}

            {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="well well-sm">
        <strong>Your Connexions&nbsp;&nbsp;&nbsp;</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
      </div>
      {% include "keyword_box.html" %}

      {% include "bookmark_grid.html" %}

    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
      var keyword = '{% if keyword %}{{ keyword }}{% endif %}';

      $(document).ready(function() {
          $('.close').click(function() {
              document.location.href = '/bookmarks';
          });

          $('.tags').click(function() {
              tag = $(this).attr('value');

              if (keyword.indexOf('tags:') > -1) {
                  keyword = keyword + ',' + tag;
              } else if (keyword.length > 0) {
                  keyword = keyword + ' tags:' + tag;
              } else {
                  keyword = 'tags:' + tag;
              }

              document.location.href = '/bookmarks?q=' + keyword;

              return false;
          });

          $('.delete_bookmark').click(function() {
              if (confirm('You are about to delete a bookmark, are you okay with that?')) {
                  return true;
              }

              return false;
          });

          $('.hostnames').tooltip({});
            $('.pin_image').error(function(e) {
              img = $(e.currentTarget).attr('src', '/static/img/icon.png')
            });
        });
  </script>
{% endblock %}