{% extends "base_main.html" %}

{% block content %}
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      {% if facets['tags'] %}<h4>Tags</h4>{% endif %}
      <ul class="nav nav-sidebar">
        {% for i, (tag, cnt) in enumerate(facets['tags']) %}
            {% if i <= 14 %}
                <li><a href="#" class="tags" value="{{ tag }}"><span class="badge">{{ cnt }}</span> {{ tag }}</a></li>
            {% endif %}
        {% endfor %}
        {% if len(facets['tags']) > 15 %}
            <li class="more"><a href="/bookmarks/tags{% if keyword %}?q={{ keyword }}{% endif %}"><strong>See More...</strong></a></li>
        {% endif %}
      </ul>
      {% if facets['hostname'] %}<h4>Sites</h4>{% endif %}
      <ul class="nav nav-sidebar">
        {% for i, (tag, cnt) in enumerate(facets['hostname']) %}
            {% if i <= 14 %}
              {% if len(tag) > 17 %}
                <li>
                  <a href="#">
                    <span class="badge">{{ cnt }}</span>
                    <span title="{{ tag }}" class="hostnames" data-toggle="tooltip" data-placement="bottom">{{ tag[0:7] }}...{{ tag[15:] }}</span>
                  </a>
                </li>
              {% else %}
                <li><a href="#"><span class="badge">{{ cnt }}</span> {{ tag }}</a></li>
              {% endif %}

            {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      {% include "keyword_box.html" %}

      <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                Below are your bookmarks!
            </div>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Tags</th>
                  <th>Site</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                {% if bookmark_count == 0 %}
                    <tr class="warning">
                        <td colspan="4">
                            <strong><center>No bookmarks were found matching your search query</center></strong>
                        </td>
                    </tr>
                {% endif %}
                {% for bookmark in bookmarks %}
                <tr>
                  <td>{{ bookmark['title'] }}</td>
                  <td>
                    {% for tag in bookmark['tags'] %}
                        <a href="#" class="tags" value="{{ tag }}"><span class="label label-primary">{{ tag }}</span></a>
                    {% endfor %}
                  </td>
                  <td>
                    {% if len(bookmark['hostname']) > 17 %}
                      <span title="{{ bookmark['hostname'] }}" class="hostnames" data-toggle="tooltip" data-placement="bottom">{{ bookmark['hostname'][0:7] }}...{{ bookmark['hostname'][15:] }}</span>
                    {% else %}
                      {{ bookmark['hostname'] }}
                    {% endif %}
                  </td>
                  <td nowrap="nowrap">
                    <a href="/bookmarks/delete?id={{ bookmark['_id'] }}" class="delete_bookmark"><span class="glyphicon glyphicon-trash"></span></a>
                    <a href="{{ bookmark['short_url'] }}" target="_blank"><span class="glyphicon glyphicon-expand"></span></a>
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
        </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
      var keyword = '{% if keyword %}{{ keyword }}{% endif %}';

      $(document).ready(function() {
          $('.close').click(function() {
              document.location.href = '/bookmarks';
          });

          $('.tags').click(function() {
              tag = $(this).attr('value');

              if (keyword.indexOf('tags:') > -1) {
                  keyword = keyword + ',' + tag;
              } else if (keyword.length > 0) {
                  keyword = keyword + ' tags:' + tag;
              } else {
                  keyword = 'tags:' + tag;
              }

              document.location.href = '/bookmarks?q=' + keyword;

              return false;
          });

          $('.delete_bookmark').click(function() {
              if (confirm('You are about to delete a bookmark, are you okay with that?')) {
                  return true;
              }

              return false;
          });

          $('.hostnames').tooltip({});
      });
  </script>
{% endblock %}