{% extends "base_home.html" %}

{% block head %}
  <style>
    .container-screenshot {
      text-align: center;
      padding-bottom: 20px;
    }

    .container-screenshot img {
      width: 90%;
    }
  </style>
{% endblock %}

{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <br/>
      <h1>Connexion.me</h1>
      <p>Connexion.me is a free and easy tool to organize your bookmarks. It is open source, meaning that you can download and install the code on your own server. The goal is to make Connexion.me more context aware, meaning that it will be able to pull meta information from websites and create connections
        with other bookmarks. A knowledge discovery tool...</p>
      <p><a class="btn btn-primary btn-lg" role="button" href="/auth/signup">Sign Up &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="container-screenshot">
        <img src="/static/img/screenshot.png" border="0" />
      </div>
      <!-- <div class="col-md-4">
        <h2>Download Extension</h2>
        <p>Need some text here</p>
      </div>
      <div class="col-md-4">
        <h2>Create Connexions</h2>
        <p>Need some text here</p>
     </div>
      <div class="col-md-4">
        <h2>Find Stuff Quickly</h2>
        <p>Need some text here</p>
      </div> -->
    </div>

    <!-- <hr> -->

    <footer>
      <p>&copy;&nbsp;<a href="http://dplouffe.ca" target="_blank">Dominic Plouffe</a> 2014</p>
    </footer>
  </div> <!-- /container -->
{% endblock %}